*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}


body {
  background-color: #060f11;
  font-family: "Inconsolata", monospace;
  color: #9fa0a1;
  margin: 0 auto; /* centraliza todo o conteúdo */
  max-width: 100ch;
  height: fit-content;
  display: flex;
  flex-direction: column;
}


@media (max-width: 720px) {
  body {
    margin: 0 auto;
  }
}

@media (max-width: 660px) {
  .header {
    margin: 0;
  }
}

main {
  max-width: 92ch;
}

a {
  color: #00d992;
}

ul {
  list-style-type: none;
}


/* header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.4rem 0.4rem;
  position: sticky;
  top: 0;
  width: 100%;
  background: #060f11;
  z-index: 100;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #00d992;
}

.header__logo {
  font-size: 1.2rem;
  letter-spacing: -0.08rem;
}

.header__logo:before {
  content: "[";
  margin-right: -0.4rem;
  color: #c8cacb;
}

.header__logo:after {
  content: "]";
  margin-left: -0.4rem;
  color: #c8cacb;
}

.header__logo-link {
  text-decoration: none;
  color: #00d992;
}

.header__menu {
  display: flex;
  gap: 0.6rem;
}

.header__link {
  color: #c8cacb;
  text-decoration-color: #00d992;
}

/*  intro */
.intro {
  color: #9fa0a1;
  margin: 1.4rem 10px;
}

.intro__title {
  color: #c8cacb;
  padding-bottom: 2px;
  margin-bottom: 1rem;
  display: inline-block;
}

.animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #00d992; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(13, end), blink-caret 0.8s infinite;
  width: 16ch;
}

.animation:before {
  color: #00d992;
  content: "» ";
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 8px solid #00d992;
  }
}

.intro__description {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
}

/* post-listing*/
.post-listing {
  margin: 0 10px;
}

.post-listing__title {
  color: #c8cacb;
  border-bottom: 2px dashed #00d992;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.post-listing__title:before {
  color: #00d992;
  content: "» ";
}

.post-listing__blog-call {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* post-short */
.post-short {
  margin: 20px 0;
}

.post-short__title {
  font-size: 1.3rem;
  color: #c8cacb;
}

.post-short__date {
  font-size: 0.9rem;
  color: #808080;
  margin-bottom: 4px;
}

.post-short__link {
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 0px;
  display: block;
  text-align: right;
}

.post-short__subtitle {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  margin-top: 4px;
}

/* about */
.about {
  margin: 1.4rem 10px;
}

.about__title {
  color: #c8cacb;
  padding-bottom: 2px;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.about__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #00d992; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: about-typing 1s steps(11, end), blink-caret 0.8s infinite;
  width: 12ch;
}

.about__animation:before {
  color: #00d992;
  content: "» ";
}

/* The typing effect */
@keyframes about-typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/*  about description */
.about-description {
  margin-top: 0.8rem;
}

.about-description > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.09px;
}

.about-description__title {
  color: #c8cacb;
  border-bottom: 2px dashed #00d992;
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about-description__title:before {
  color: #00d992;
  content: "» ";
}

.about-description__container {
  display: flex;
  justify-content: center;
}

.about-description__img {
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

/* contact-list */
.contact-list {
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.contact-list__title {
  color: #c8cacb;
  border-bottom: 2px dashed #00d992;
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.contact-list__title:before {
  color: #00d992;
  content: "» ";
}

.contact-list__link {
  color: #c8cacb;
  text-decoration: underline;
  text-decoration-color: #00d992;
  margin-left: 1rem;
}

.contact-list__link:before {
  color: #00d992;
  content: "» ";
}

/* blog page */
.blog {
  margin: 0 10px;
}

.blog-page {
  margin-top: 1.4rem;
}

.blog-page__title {
  color: #c8cacb;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 1px;
}
.blog-page__animation::before {
  color: #00d992;
  content: "» ";
}

.blog-page__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #00d992; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: blog-typing 1s steps(6, end), blink-caret 0.8s infinite;
  width: 7ch;
}

/* The typing effect */
@keyframes blog-typing {
  from {
    width: 0;
  }
  to {
    width: 7ch;
  }
}


/*  table-of-contents */
.table-of-contents {
  margin-bottom: 1.5rem;
}

.table-of-contents__link {
  color: #c8cacb;
  text-decoration: underline;
  text-decoration-color: #00d992;
  margin-left: 1rem;
}

.table-of-contents__link:before {
  color: #00d992;
  content: "» ";
}

/* blog post */
.blog-post {
  margin: 1.4rem 10px;
}
.blog-post__article {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  color: #9fa0a1;
}

.blog-post__article p {
  margin-bottom: 0.9rem;
}

.blog-post__article h2 {
  color: #c8cacb;
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.blog-post__article h2:before {
  color: #00d992;
  content: "» ";
}

.blog-post-page-title {
  color: #c8cacb;
  font-size: 1.5rem;
  padding-bottom: 7px;
  margin-top: 1.4rem;
  margin-bottom: 1px;
}
.blog-post-page-title:before {
  color: #00d992;
  content: "» ";
}

.blog-post__article h3 {
  color: #c8cacb;
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.blog-post__article li:before  {
  color: #00d992;
  content: "» ";
}

.blog-post__article ul {
  margin-bottom: 20px;
}

.blog-post__article img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

pre > code {
  overflow: scroll;
  display: block;
  margin-bottom: 20px;
}

/* post-meta */
.post-meta {
  margin-bottom: 1rem;
}

.post-meta__date {
  color: #808080;
  font-size: 1rem;
  margin-top: 1.1rem;
}

.post-meta__subtitle {
  margin-top: 0.1rem;
  font-size: 1.3rem;
}

/* footer */
.footer {
  position: fixed;
  max-width: 100ch;
  bottom: 0;
  width: 100%;
  background-color: #060f11;
  margin-top: 4rem;
  padding-bottom: 0.3rem;
  text-align: center;
  border-top: 1px solid #00d992;
}

.footer-text {
  font-size: 0.9rem;
  margin-top: 1px;
}

/* portifolio */
.portfolio {
  margin: 1.4rem 10px;
}

.portfolio__title {
  color: #c8cacb;
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.portifolio__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #00d992; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: portifolio-typing 1s steps(11, end), blink-caret 0.8s infinite;
  width: 12ch;
}

.portifolio__animation:before {
  color: #00d992;
  content: "» ";
}

/* The typing effect */
@keyframes portifolio-typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/* utility class */
.building {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}


/* giscus = comentários*/
.giscus {
  margin-top: 2rem;
  padding-bottom: 3.5rem;
}
