<article><h1>{{.Title}}</h1><p>{{.Description}}</p><time datetime="{{.DateISO}}">{{.Date}}</time>{{.Content}}</article>{{if .Older}}<a href="/blog/{{.Older.Slug}}">Older: {{.Older.Title}}</a>{{end}}{{if .Newer}}<a href="/blog/{{.Newer.Slug}}">Newer: {{.Newer.Title}}</a>{{end}}
