<section class="portfolio">
  <h1 class="portfolio__title">
    <span class="portfolio__animation">Not found</span>
  </h1>
  <div class="building">
    <h2>🚧🚧 Fim da linha 🚧🚧</h2>
  </div>
</section>
