<section class="portfolio">
  <h2 class="portfolio__title">
    <span class="portifolio__animation">Not found</span>
  </h2>
  <div class="building">
    <h2>🚧🚧 Fim da linha 🚧🚧</h2>
  </div>
</section>

