<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Vitor Almeida" />
    <meta name="Description" content="{{ .Description}}" />
    <meta
      name="keywords"
      content="sites, web, internet, blog, tecnologia, segurança da informação, seginfo, security, desenvolvimento"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title> {{ .Title}} </title>
  </head>
  <body>
    <header class="header" id="navbar">
      <h1 class="header__logo">
        <a class="header__logo-link" href="/">vitor almeida</a>
      </h1>
      <nav class="header__menu">
        <a class="header__link" href="/">/Início</a>
        <a class="header__link" href="/about.html">/Sobre</a>
        <a class="header__link" href="/blog.html">/Blog</a>
        <a class="header__link" href="/portfolio.html">/Projetos</a>
      </nav>
    </header>
    <main>
      {{ .Content }}
    </main>
    <footer class="footer" id="footer">
      <h4>Página pessoal - Vitor Almeida</h4>
      <p class="footer-text">
        <em>Feito com Go, HTML e CSS |
        <a
            href="https://www.github.com/vitoraalmeida/vitoralmeida.net"
            target="_blank"
            >Veja o código</a>
        </em>
      </p>
    </footer>
  </body>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
    document.getElementById("footer").style.bottom = "0";
  } else {
    document.getElementById("navbar").style.top = "-55px";
    document.getElementById("footer").style.bottom= "-50px";
  }
  prevScrollpos = currentScrollPos;
} 
</script>
</html>
