<section class="blog">
  <section class="blog-page">
    <h1 class="section-title section-title--tighter">
      <span class="typewriter typewriter--blog">Blog</span>
    </h1>
    {{ . }}
  </section>
</section>
