<section class="intro">
  <h2 class="intro__title">
    <span class="animation">Hello, friend</span>
  </h2>
  <p class="intro__description">
    Vou usar esse pedacinho da internet para compartilhar o pouco que sei sobre
    tecnologia e para mostrar um pouco das minhas habilidades para possíveis
    parcerias futuras (🤑)
  </p>
</section>
<section class="post-listing">
  <h2 class="post-listing__title">Últimos posts</h2>
  {{ . }}
  <p class="post-listing__blog-call">
    <em>Veja todos os posts na página do
      <a href="/blog.html">blog</a></em>
  </p>
</section>
