<section class="intro">
  <h1 class="intro__title">
    <span class="u-typing animation">Hello, friend</span>
  </h1>
  <p class="intro__description">
    Vou usar esse pedacinho da internet para compartilhar o pouco que sei sobre
    tecnologia, segurança da informação, privacidade e o que mais vier à cabeça.
  </p>
</section>
<section class="post-listing">
  <h2 class="post-listing__title">Últimos posts</h2>
  {{ . }}
  <p class="post-listing__blog-call">
    <em>Veja todos os posts na página do
      <a href="/blog">blog</a></em>
  </p>
</section>
