<section class="portfolio">
  <h2 class="portfolio__title">
    <span class="portifolio__animation">Portfólio</span>
  </h2>
  <div class="building">
    <h2>🚧🚧 Em construção 🚧🚧</h2>
  </div>
</section>