<section class="portfolio">
  <h1 class="section-title section-title--tighter">
    <span class="typewriter typewriter--portfolio">Portfólio</span>
  </h1>
  <div class="building">
    <h2>🚧🚧 Em construção 🚧🚧</h2>
  </div>
</section>
