<h2 class="blog-post-page-title">
{{ .Title }}
</h2>

<section class="post-meta">
<p class="post-meta__subtitle">
    <em>{{ .Description }}</em>
</p>
<p class="post-meta__date">Publicado em {{ .Date }}</p>
</section>

<article class="blog-post">
    {{ .Content }}
</article>
