{{range .}}
<article class="post-short">
  <a class="post-short__link" href="/blog/{{ .Slug }}">
    <p class="post-short__date"><time datetime="{{ .DateISO }}">{{ .Date }}</time></p>
    <h2 class="post-short__title">{{ .Title }}</h2>
    <p class="post-short__subtitle">{{ .Description }}</p>
  </a>
</article>
{{ end }}
