:root {
  --color-background: #060f11;
  --color-text: #9fa0a1;
  --color-text-strong: #c8cacb;
  --color-text-muted: #808080;
  --color-accent: #00d992;
  --page-width: 100ch;
  --content-width: 92ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}


body {
  background-color: var(--color-background);
  font-family: "Inconsolata", monospace;
  color: var(--color-text);
  margin: 0 auto; /* centraliza todo o conteúdo */
  max-width: var(--page-width);
  height: fit-content;
  display: flex;
  flex-direction: column;
}


main {
  max-width: var(--content-width);
}

a {
  color: var(--color-accent);
}

ul {
  list-style-type: none;
}



/* header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.4rem 0.4rem;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-background);
  z-index: 100;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--color-accent);
}

.header__logo {
  font-size: 1.2rem;
  letter-spacing: -0.08rem;
}

.header__logo::before {
  content: "[";
  margin-right: -0.4rem;
  color: var(--color-text-strong);
}

.header__logo::after {
  content: "]";
  margin-left: -0.4rem;
  color: var(--color-text-strong);
}

.header__logo-link {
  text-decoration: none;
  color: var(--color-accent);
}

.header__menu {
  display: flex;
  gap: 0.6rem;
}

.header__link {
  color: var(--color-text-strong);
  text-decoration-color: var(--color-accent);
}

/*  intro */
.intro {
  color: var(--color-text);
  margin: 1.4rem 10px;
}

.intro__title {
  color: var(--color-text-strong);
  padding-bottom: 2px;
  margin-bottom: 1rem;
  display: inline-block;
}

.animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid var(--color-accent); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.5s steps(13, end), blink-caret 0.8s infinite;
  width: 16ch;
}

.animation::before {
  color: var(--color-accent);
  content: "» ";
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 8px solid var(--color-accent);
  }
}

.intro__description {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
}

/* post-listing*/
.post-listing {
  margin: 0 10px;
}

.post-listing__title {
  color: var(--color-text-strong);
  border-bottom: 2px dashed var(--color-accent);
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.post-listing__title::before {
  color: var(--color-accent);
  content: "» ";
}

.post-listing__blog-call {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* post-short */
.post-short {
  margin: 20px 0;
}

.post-short__title {
  font-size: 1.3rem;
  color: var(--color-text-strong);
}

.post-short__date {
  font-size: 0.9rem;
  color: var(--color-text-muted);
  margin-bottom: 4px;
}

.post-short__link {
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 0;
  display: block;
  text-align: right;
}

.post-short__subtitle {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  margin-top: 4px;
}

/* about */
.about {
  margin: 1.4rem 10px;
}

.about__title {
  color: var(--color-text-strong);
  padding-bottom: 2px;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.about__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid var(--color-accent); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: about-typing 1s steps(11, end), blink-caret 0.8s infinite;
  width: 12ch;
}

.about__animation::before {
  color: var(--color-accent);
  content: "» ";
}

/* The typing effect */
@keyframes about-typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/*  about description */
.about-description {
  margin-top: 0.8rem;
}

.about-description > p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.09px;
}

.about-description__title {
  color: var(--color-text-strong);
  border-bottom: 2px dashed var(--color-accent);
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about-description__title::before {
  color: var(--color-accent);
  content: "» ";
}

/* contact-list */
.contact-list {
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.contact-list__title {
  color: var(--color-text-strong);
  border-bottom: 2px dashed var(--color-accent);
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.contact-list__title::before {
  color: var(--color-accent);
  content: "» ";
}

.contact-list__link {
  color: var(--color-text-strong);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  margin-left: 1rem;
}

.contact-list__link::before {
  color: var(--color-accent);
  content: "» ";
}

/* blog page */
.blog {
  margin: 0 10px;
}

.blog-page {
  margin-top: 1.4rem;
}

.blog-page__title {
  color: var(--color-text-strong);
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 1px;
}
.blog-page__animation::before {
  color: var(--color-accent);
  content: "» ";
}

.blog-page__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid var(--color-accent); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: blog-typing 1s steps(6, end), blink-caret 0.8s infinite;
  width: 7ch;
}

/* The typing effect */
@keyframes blog-typing {
  from {
    width: 0;
  }
  to {
    width: 7ch;
  }
}


/*  table-of-contents */
.table-of-contents {
  margin-bottom: 1.5rem;
}

.table-of-contents__link {
  color: var(--color-text-strong);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  margin-left: 1rem;
}

.table-of-contents__link::before {
  color: var(--color-accent);
  content: "» ";
}

/* blog post */
.blog-post {
  margin: 1.4rem 10px;
}

.blog-post strong {
  color: var(--color-text-strong);
}

.blog-post__article {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  color: var(--color-text);
}

.blog-post__article p {
  margin-bottom: 0.9rem;
}

.blog-post__article h2 {
  color: var(--color-text-strong);
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.blog-post__article h2::before {
  color: var(--color-accent);
  content: "» ";
}

.blog-post-page-title {
  color: var(--color-text-strong);
  font-size: 1.5rem;
  padding-bottom: 7px;
  margin-top: 1.4rem;
  margin-bottom: 1px;
}
.blog-post-page-title::before {
  color: var(--color-accent);
  content: "» ";
}

.blog-post__article h3 {
  color: var(--color-text-strong);
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.blog-post__article li::before {
  color: var(--color-accent);
  content: "» ";
}

.blog-post__article ul {
  margin-bottom: 20px;
}

.blog-post__article img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

pre > code {
  overflow: scroll;
  display: block;
  margin-bottom: 20px;
}

/* post-meta */
.post-meta {
  margin-bottom: 1rem;
}

.post-meta__date {
  color: var(--color-text-muted);
  font-size: 1rem;
  margin-top: 1.1rem;
}

.post-meta__subtitle {
  margin-top: 0.1rem;
  font-size: 1.3rem;
}

/* footer */
.footer {
  position: fixed;
  max-width: var(--page-width);
  bottom: 0;
  width: 100%;
  background-color: var(--color-background);
  margin-top: 4rem;
  padding-bottom: 0.3rem;
  text-align: center;
  border-top: 1px solid var(--color-accent);
}

.footer-text {
  font-size: 0.9rem;
  margin-top: 1px;
}

/* portfolio */
.portfolio {
  margin: 1.4rem 10px;
}

.portfolio__title {
  color: var(--color-text-strong);
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.portfolio__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid var(--color-accent); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: portfolio-typing 1s steps(11, end), blink-caret 0.8s infinite;
  width: 12ch;
}

.portfolio__animation::before {
  color: var(--color-accent);
  content: "» ";
}

/* The typing effect */
@keyframes portfolio-typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/* utility class */
.building {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}


/* giscus = comentários*/
.giscus {
  margin-top: 2rem;
  padding-bottom: 3.5rem;
}
