*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  background-color: #1d2021;
  font-family: "Inconsolata", monospace;
  color: #bdae93;
  margin: 0 auto; /* centraliza todo o conteúdo */
  max-width: 80ch;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  body {
    margin: 0 auto;
  }
}

@media (max-width: 660px) {
  body {
    margin: 0 10px;
  }
}

a {
  color: #98971a;
}

ul {
  list-style-type: none;
}

main {
  flex: 1;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.1rem 0;
}

.header__logo {
  font-size: 1.2rem;
  letter-spacing: -0.08rem;
}

.header__logo:before {
  content: "[";
  margin-right: -0.4rem;
  color: #98971a;
}

.header__logo:after {
  content: "]》";
  margin-left: -0.4rem;
  color: #98971a;
}

.header__logo-link {
  text-decoration: none;
  color: #bdae93;
}

.header__menu {
  display: flex;
  gap: 0.6rem;
}

.header__link {
  color: #bdae93;
  text-decoration-color: #98971a;
}

/*  intro */
.intro {
  color: #ebdbb2;
  margin-top: 1.4rem;
}

.intro__title {
  color: #ebdbb2;
  padding-bottom: 2px;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #98971a; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 1.8s steps(13, end), blink-caret 0.8s infinite;
  width: 16ch;
}

.animation:before {
  color: #98971a;
  content: "» ";
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 8px solid #98971a;
  }
}

.intro__description {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
}

/* post-listing*/
.post-listing {
  margin-top: 0.5rem;
}

.post-listing__title {
  color: #ebdbb2;
  border-bottom: 2px dashed #98971a;
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
}

.post-listing__title:before {
  color: #98971a;
  content: "» ";
}

.post-listing__blog-call {
  margin-top: 2rem;
}

/* post-short */
.post-short {
  margin: 25px 0;
}

.post-short__title {
  font-size: 1.1rem;
}

.post-short__date {
  font-size: 0.9rem;
  color: #808080;
  margin-top: 1px;
}

.post-short__link {
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 0px;
  display: block;
  text-align: right;
}

.post-short__subtitle {
  font-size: 1.1rem;
  letter-spacing: -0.09px;
}

/* about */
.about {
  color: #ebdbb2;
  margin-top: 1.4rem;
}

.about__title {
  color: #ebdbb2;
  padding-bottom: 2px;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.about__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #98971a; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: about-typing 1.5s steps(11, end), blink-caret 0.8s infinite;
  width: 12ch;
}

.about__animation:before {
  color: #98971a;
  content: "» ";
}

/* The typing effect */
@keyframes about-typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/*  about description */
.about-description {
  margin-top: 0.5rem;
}

.about-description > p {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  letter-spacing: -0.09px;
}

.about-description__title {
  color: #ebdbb2;
  border-bottom: 2px dashed #98971a;
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.about-description__title:before {
  color: #98971a;
  content: "» ";
}

.about-description__container {
  display: flex;
  justify-content: center;
}

.about-description__img {
  margin-top: 1rem 0;
  display: inline-block;
}

/* contact-list */
.contact-list {
  margin-top: 1rem;
}

.contact-list__title {
  color: #ebdbb2;
  border-bottom: 2px dashed #98971a;
  display: inline-block;
  padding-bottom: 2px;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.contact-list__title:before {
  color: #98971a;
  content: "» ";
}

.contact-list__link {
  color: #bdae93;
  text-decoration: underline;
  text-decoration-color: #98971a;
  margin-left: 1rem;
}

.contact-list__link:before {
  color: #98971a;
  content: "» ";
}

/* blog page */
.blog-page {
  margin-top: 1.4rem;
}

.blog-page__title {
  color: #ebdbb2;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 1px;
}
.blog-page__animation::before {
  color: #98971a;
  content: "» ";
}

.blog-page__animation {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #98971a; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: blog-typing 1s steps(6, end), blink-caret 0.8s infinite;
  width: 7ch;
}

/* The typing effect */
@keyframes blog-typing {
  from {
    width: 0;
  }
  to {
    width: 7ch;
  }
}

/* blog-post */
.blog-post-page-title {
  color: #ebdbb2;
  font-size: 1.5rem;
  padding-bottom: 7px;
  margin-top: 1.4rem;
  margin-bottom: 1px;
}
.blog-post-page-title:before {
  color: #98971a;
  content: "» ";
}

/*  table-of-contents */
.table-of-contents {
  margin-bottom: 1.5rem;
}

.table-of-contents__link {
  color: #bdae93;
  text-decoration: underline;
  text-decoration-color: #98971a;
  margin-left: 1rem;
}

.table-of-contents__link:before {
  color: #98971a;
  content: "» ";
}

/* blog post */
.blog-post {
  font-size: 1.2rem;
  letter-spacing: -0.09px;
  color: #bdae93;
}

.blog-post p {
  margin-bottom: 0.9rem;
}

.blog-post h2 {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.blog-post h2:before {
  color: #98971a;
  content: "» ";
}

/* post-meta */
.post-meta {
  margin-bottom: 1rem;
}

.post-meta__date {
  color: #808080;
  font-size: 1rem;
  margin-top: 2px;
}

.post-meta__subtitle {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

/* footer */
.footer {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #808080;
}

.footer-text {
  font-size: 0.9rem;
  margin-top: 1px;
}

/* portifolio */
.portfolio {
  margin-top: 1.4rem;
}

.portfolio__title {
  color: #ebdbb2;
  border-bottom: 2px dashed #98971a;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.portfolio__title:before {
  color: #98971a;
  content: "» ";
}

/* utility class */
.building {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}
