*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d2021;
    font-family: 'Inconsolata', monospace;
    color: #bdae93;
    margin: 0px 10px;
}

header {
    margin-bottom: 20px;
}

main {
    margin: 10px 0px;
}

article {
    margin-bottom: 10px;
}

section {
    margin: 15px 0px;
}

footer {
    margin-top: 20px;
}

hr {
    margin: 10px 0px;
}

h1 {
   color: #d5c4a1;
   font-size: 24px;
} 

h1:before {
    content: "[";
    color: #98971a;
}

h1:after {
    content: "]》";
    color: #98971a;
}

.title {
    color: #ebdbb2;
    border-bottom: 2px dashed #98971a;
    display: inline-block;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2:before, h3:before {
    color: #98971a;
    content: "» "
}

p {
    color: #ebdbb2;
    line-height: 1.2;
    font-size: 18px;
    text-align: justify;
    max-width: 80ch;
}

a {
    color: #98971a;
}

ul {
    list-style-type: none;    
}

li > a {
    color: #bdae93;
    text-decoration: underline;
    text-decoration-color: #98971a;     
}

